In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

Access this data from the Thinkful database using the following credentials:

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'



To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

engine.dispose()


data=pd.read_sql('select * from useducation',con=engine)

Determine all the variable types and find the fraction of the missing values for each variable.

In [ ]:
data.head()

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414                  NaN

[5 rows x 25 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [ ]:
data.isnull().sum()*100/data.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [ ]:
useducation =data.copy()
cols=["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", 
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", 
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", 
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", 
             "GRADES_9_12_G", "GRADES_ALL_G"]


for col in cols:
  useducation.loc[:,col]=useducation.loc[:,col].fillna(useducation.loc[:,col].mean())

Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [ ]:
useducation1=data.copy()

years=useducation['YEAR']
for col in cols:
  for year in years:
    useducation1.loc[useducation1['YEAR']==year,col]= useducation1.loc[useducation1['YEAR']==year,col].fillna(useducation1[useducation1['YEAR']==year][col].mean())

4. This time, fill in the missing values using interpolation (extrapolation).

In [ ]:
useducation4=data.copy()

for col in cols:
  useducation4.loc[:,col]=useducation4.loc[:,col].interpolate()

Compare your results for the second, third and the fourth questions. Do you find any meaningful differences?

In [ ]:
for col in cols:
  print('Statistics for columns{}'.format(col))
  print(pd.concat([useducation[col],useducation1[col],useducation4[col]],axis=1).describe())

Statistics for columnsENROLL
             ENROLL        ENROLL        ENROLL
count  1.492000e+03  1.385000e+03  1.456000e+03
mean   9.159308e+05  9.161654e+05  1.005984e+06
std    9.667725e+05  1.003532e+06  1.009158e+06
min    4.386600e+04  4.386600e+04  4.386600e+04
25%    3.150940e+05  2.867590e+05  2.973995e+05
50%    8.204140e+05  7.374010e+05  7.540845e+05
75%    9.211780e+05  9.624880e+05  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06
Statistics for columnsTOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.492000e+03   1.441000e+03   1.492000e+03
mean    9.092082e+06   9.084108e+06   1.111164e+07
std     1.087818e+07   1.110204e+07   1.200155e+07
min     4.656500e+05   4.656500e+05   4.656500e+05
25%     2.546261e+06   2.425600e+06   2.546261e+06
50%     6.359310e+06   5.778507e+06   6.351760e+06
75%     9.276958e+06   1.116863e+07   1.803650e+07
max     8.921726e+07   8.921726e+07   8.921726e+07
Statistics for columnsFEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.492000e+03     1.441000e+03     1.492000e+03
mean      7.663723e+05     7.662749e+05     8.922691e+05
std       1.060702e+06     1.085057e+06     1.106788e+06
min       3.102000e+04     3.102000e+04     3.102000e+04
25%       2.170200e+05     2.068530e+05     2.170200e+05
50%       5.167410e+05     4.461800e+05     5.165190e+05
75%       7.663723e+05     8.956420e+05     1.411794e+06
max       9.990221e+06     9.990221e+06     9.990221e+06
Statistics for columnsSTATE_REVENUE
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.216553e+06   4.213597e+06   4.913351e+06
std     5.133895e+06   5.237195e+06   5.423675e+06
min     0.000000e+00   0.000000e+00   0.000000e+00
25%     1.356434e+06   1.319582e+06   1.356434e+06
50%     3.127639e+06   2.857497e+06   3.119414e+06
75%     4.269811e+06   5.187230e+06   8.020633e+06
max     5.090457e+07   5.090457e+07   5.090457e+07
Statistics for columnsLOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.109157e+06   4.104236e+06   5.306024e+06
std     5.078230e+06   5.181475e+06   5.900909e+06
min     2.209300e+04   2.209300e+04   2.209300e+04
25%     9.447962e+05   8.747060e+05   9.447962e+05
50%     2.697257e+06   2.398344e+06   2.650904e+06
75%     4.109157e+06   4.995971e+06   8.584803e+06
max     3.610526e+07   3.610526e+07   3.610526e+07
Statistics for columnsTOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE
count       1.492000e+03       1.441000e+03       1.492000e+03
mean        9.196681e+06       9.190557e+06       1.114374e+07
std         1.109393e+07       1.132084e+07       1.212433e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.523968e+06       2.427316e+06       2.523968e+06
50%         6.520224e+06       5.858385e+06       6.499891e+06
75%         9.434922e+06       1.116970e+07       1.801704e+07
max         8.532013e+07       8.532013e+07       8.532013e+07
Statistics for columnsINSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  ...  INSTRUCTION_EXPENDITURE
count             1.492000e+03  ...             1.492000e+03
mean              4.762966e+06  ...             5.792260e+06
std               5.828468e+06  ...             6.376549e+06
min               2.655490e+05  ...             2.655490e+05
25%               1.343611e+06  ...             1.343611e+06
50%               3.358142e+06  ...             3.318778e+06
75%               4.938820e+06  ...             9.130766e+06
max               4.396452e+07  ...             4.396452e+07

[8 rows x 3 columns]
Statistics for columnsSUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  ...  SUPPORT_SERVICES_EXPENDITURE
count                  1.492000e+03  ...                  1.492000e+03
mean                   2.680331e+06  ...                  3.324275e+06
std                    3.105812e+06  ...                  3.500830e+06
min                    1.399630e+05  ...                  1.399630e+05
25%                    7.673688e+05  ...                  7.673688e+05
50%                    1.913844e+06  ...                  1.910412e+06
75%                    2.795888e+06  ...                  5.435244e+06
max                    2.605802e+07  ...                  2.605802e+07

[8 rows x 3 columns]
Statistics for columnsOTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE
count       1.492000e+03       1.385000e+03       1.456000e+03
mean        4.292046e+05       4.286507e+05       5.004288e+05
std         4.846832e+05       5.041013e+05       5.253843e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.354282e+05       1.199340e+05       1.279618e+05
50%         3.672335e+05       3.070220e+05       3.415810e+05
75%         4.568915e+05       5.223475e+05       8.490842e+05
max         3.995951e+06       3.995951e+06       3.995951e+06
Statistics for columnsCAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  ...  CAPITAL_OUTLAY_EXPENDITURE
count                1.492000e+03  ...                1.492000e+03
mean                 9.027693e+05  ...                1.033524e+06
std                  1.229564e+06  ...                1.272901e+06
min                  1.270800e+04  ...                1.270800e+04
25%                  2.163398e+05  ...                2.163398e+05
50%                  6.482175e+05  ...                6.436235e+05
75%                  9.027693e+05  ...                1.717212e+06
max                  1.022366e+07  ...                1.022366e+07

[8 rows x 3 columns]
Statistics for columnsGRADES_PK_G
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1492.000000    1390.000000    1492.000000
mean    17601.614102   17672.581838   15926.059316
std     28221.111094   29263.483252   28669.479212
min         0.000000       0.000000       0.000000
25%      2449.000000    2183.250000    1544.000000
50%     10505.000000    9066.500000    5910.500000
75%     19149.250000   22788.750000   19561.000000
max    250911.000000  250911.000000  250911.000000
Statistics for columnsGRADES_KG_G
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1492.000000    1390.000000    1492.000000
mean    63746.761029   63810.167724   59021.465818
std     76572.547833   79336.993597   78271.025323
min       544.000000     544.000000     544.000000
25%     14016.000000   11928.500000    9926.750000
50%     48897.000000   42968.000000   38507.000000
75%     70372.750000   72972.250000   70748.750000
max    530531.000000  530531.000000  530531.000000
Statistics for columnsGRADES_4_G
          GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1492.000000    1390.000000    1492.000000
mean    64538.927259   64590.152441   59797.646113
std     76684.998585   79451.944548   78406.899202
min       633.000000     633.000000     633.000000
25%     15195.500000   14190.500000   10117.250000
50%     49884.500000   44909.500000   38280.500000
75%     71814.250000   75149.750000   72310.250000
max    493415.000000  493415.000000  493415.000000
Statistics for columnsGRADES_8_G
          GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1492.000000    1390.000000    1492.000000
mean    64271.057311   64331.744106   59511.380027
std     75364.301721   78083.976028   77123.573668
min       437.000000     437.000000     437.000000
25%     15682.750000   13698.250000   10252.000000
50%     49571.000000   44756.500000   38114.500000
75%     72131.000000   75016.250000   72598.250000
max    500143.000000  500143.000000  500143.000000
Statistics for columnsGRADES_12_G
         GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1492.000000    1390.000000    1492.000000
mean    54268.924320   54418.075582   50207.239276
std     64838.328605   67187.337112   66309.867155
min       311.000000     311.000000     311.000000
25%     13437.000000   11161.750000    8951.000000
50%     39566.000000   37541.500000   33279.000000
75%     64616.250000   67026.000000   64920.500000
max    498403.000000  498403.000000  498403.000000
Statistics for columnsGRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.492000e+03  1.390000e+03  1.492000e+03
mean   5.192140e+05  5.196200e+05  4.810102e+05
std    6.147133e+05  6.368932e+05  6.286622e+05
min    4.878000e+03  4.878000e+03  4.878000e+03
25%    1.211522e+05  1.129712e+05  8.127325e+04
50%    4.015865e+05  3.611705e+05  3.097340e+05
75%    5.749118e+05  6.052242e+05  5.783400e+05
max    3.929869e+06  3.929869e+06  3.929869e+06
Statistics for columnsGRADES_9_12_G
       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.492000e+03   1.390000e+03   1.492000e+03
mean    2.470714e+05   2.474932e+05   2.286678e+05
std     2.938773e+05   3.044943e+05   3.005815e+05
min     1.808000e+03   1.808000e+03   1.808000e+03
25%     5.919750e+04   5.270300e+04   3.950675e+04
50%     1.817010e+05   1.706525e+05   1.472355e+05
75%     2.825390e+05   2.888522e+05   2.843505e+05
max     2.013687e+06   2.013687e+06   2.013687e+06
Statistics for columnsGRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.492000e+03  1.390000e+03  1.492000e+03
mean   8.024415e+05  8.029178e+05  7.478782e+05
std    9.126522e+05  9.456162e+05  9.291585e+05
min    7.254000e+03  7.254000e+03  7.254000e+03
25%    2.293578e+05  1.939785e+05  1.718665e+05
50%    6.473260e+05  5.983920e+05  4.591248e+05
75%    8.724220e+05  9.045562e+05  8.860948e+05
max    5.944746e+06  5.944746e+06  5.944746e+06